.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

// all style starts from here//////////////////////////////////////////////////////////////////////////////////////////

$SearchInputWidth: 800px;
$SearchInputHeight: 30px;

@mixin statsCss {
  //write CSS code here
  .stats-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid #e6e6e6;

    .row {
      margin: auto;

      margin: {
        top: 15px;
        bottom: 15px;
      }

      ;
    }

    .stats {
      font-size: 3em;
      font-weight: 200;
    }
  }
}


#user-serch-form {
  .input-div {
    display: flex;
  }

  input {
    display: block;
    width: $SearchInputWidth;
    height: $SearchInputHeight;
    font-size: 1.5em;
    font-weight: 200;
    margin-top: 10px;
    padding: 5px;
    padding-left: 4px;
    box-shadow: 3px 3px 6px grey;

    &:focus {
      box-shadow: 3px 3px 16px grey;
    }
  }

  button {
    height: 26px;
  }
}

.main-heading {
  font-size: 2em;
  font-weight: 200;

  margin {
    bottom: 20px;
  }
}

#user-result {
  justify-content: center;
  display: grid;

  .profile-pic{
    margin-top: 5%;
    text-align: center;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 75px;
  }

  .details {
    max-width: 600px;

    .detail {
      font-weight: 200;
      font-size: 1.5em;
      margin-bottom: 15px;
    }
  }

  @include statsCss()
}

#main-repo {

  table {
    width: 800px;
    margin-top: 20px;
    padding: 10px;

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid gray;
    }
  }
}

#repo-detail {
  .main-heading{
    padding-bottom: 5px;
    border-bottom: 1px solid;
  }
  .main-repo {
    margin-top:20px;
    .details {
      max-width: 600px;

      .detail {
        font-weight: 200;
        font-size: 1.5em;
        margin-bottom: 15px;
      }
    }

    @include statsCss()
  }
}